<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Biểu đồ hàng hóa nhập xuất</h5>
        <select class="form-control col-md-3" id="select-times">
          <option value="1">Trong tuần này</option>
          <option value="2">Trong tháng này</option>
          <option value="3">Trong tháng trước</option>
          <option value="4">Trong năm nay</option>
          <option value="5">Trong năm trước</option>
          <option value="6">Toàn bộ</option>
        </select>
      </div>
      <div class="card-body">
        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapperCount" style="height: 400px;"></div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Hàng hóa xuất
          <i class="fa fa-circle text-warning"></i> Hàng hóa nhập
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <div class="card card-chart">
      <div class="card-header">
        <h5 class="card-title">Biểu đồ Doanh thu</h5>
        <select class="form-control col-md-3" id="select-times-price">
          <option value="1">Trong tuần này</option>
          <option value="2">Trong tháng này</option>
          <option value="3">Trong tháng trước</option>
          <option value="4">Trong năm nay</option>
          <option value="5">Trong năm trước</option>
          <option value="6">Toàn bộ</option>
        </select>
      </div>
      <div class="card-body">
        <div class="chartWrapper">
          <div class="chartAreaWrapper">
            <div class="chartAreaWrapperPrice" style="height: 400px;"></div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="chart-legend">
          <i class="fa fa-circle text-info"></i> Tiền bán hàng
          <i class="fa fa-circle text-warning"></i> Tiền nhập hàng
        </div>
      </div>
    </div>
  </div>
</div>
