<h2>
  <% if action == "index" %>
    <%= "Danh sách nhập" %>
  <% elsif action == "show" %>
    <%= link_to "Danh sách nhập", histories_path %> > <%= "Chi tiết hàng nhập trong ngày: #{params[:date]}" %>
  <% end %>
</h2>
