<%= render "url", action: "show" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <%= link_to export_history_path(format: :xlsx, date: params[:date]),
        class: "btn btn-success btn-margin", target: :_blank do %>
        <i class="fa fa-file-excel-o"></i> Xuất toàn bộ dữ liệu
      <% end %>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class=" text-primary">
            <tr>
              <th>
                STT
              </th>
              <th>
                Thời gian (hh:mm:ss)
              </th>
              <th>
                Sản phẩm
              </th>
              <th>
                Số lượng
              </th>
              <th>
                Giá nhập
              </th>
              <th>
                Nơi nhập
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "details", history_details: @history_details %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <%= paginate @history_details %>
    </div>
  </div>
</div>
