<%= render "url", action: "show" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <button class="btn btn-success">
        <i class="fa fa-file-excel-o"></i> Xuất toàn bộ dữ liệu
      </button>
    </div>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class=" text-primary">
            <tr>
              <th>
                STT
              </th>
              <th>
                Time (hh:mm:ss)
              </th>
              <th>
                Product
              </th>
              <th>
                COUNT
              </th>
              <th>
                PRICE
              </th>
              <th>
                From user
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "details", history_details: @history_details %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <%= paginate @history_details %>
    </div>
  </div>
</div>
