<%= render "url", action: "show" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class=" text-primary">
            <tr>
              <th>
                STT
              </th>
              <th>
                Name
              </th>
              <th>
                Count
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "details", details: @details %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <% if current_user.vip? && @bill.confirmed? %>
        <%= link_to bill_gtgt_path(id: @bill, format: :pdf), target: :_blank, class: "btn btn-success float-right btn-margin" do %>
          <i class="fa fa-file-excel-o"></i> Hóa đơn GTGT
        <% end %>
      <% end %>
      <%= link_to bill_pdf_path(id: @bill, format: :pdf), target: :_blank, class: "btn btn-danger float-right btn-margin" do %>
        <i class="fa fa-file-pdf-o"></i> Xuất hóa đơn
      <% end %>
    </div>
  </div>
</div>
