<%= search_form_for @q, url: admin_products_path, method: :GET do |f| %>
  <div class="form-row">
    <div class="col-md-6 mb-3">
      <%= label_tag :name_cont, "Search field", for: "name_cont" %>
      <%= f.search_field :name_cont, class: "form-control", placeholder: "Name" %>
    </div>
  </div>

  <div>
    <%= link_to new_admin_product_path, class: "float-left btn btn-success" do %>
      <i class="fa fa-product-plus"></i> New product
    <% end %>
    <button class="float-right btn btn-primary" type="submit">
      <i class="fa fa-search"></i>
      Search
    </button>
  </div>
<% end %>
