$background: #c7c7c7;
$black: black;
$blue: #478FCA;
$checked: #16d052;
$create: #5eb2eb;
$destroy: #66ff33;
$read: #ffff66;
$update: #ff9900;
$white-moke: #f7f7f7;
$green: green;
$boder-soil: rgb(143, 140, 140);
$blue-smoke: rgb(27, 231, 245);
