
.client-main-panel {
  position: relative;
  float: right;
  width: 100%;
  background-color: #f4f3ef;
  -webkit-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -moz-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -o-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  -ms-transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
  transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.my-notify {
  position: fixed;
  z-index: 99999999;
  width: 220px;
  right: 20px;
  top: 60px;
}

.my-notify .alert{
  box-shadow: 0px 2px 5px -1px #000;
  display: none;
}

.img-thumb-size {
  width: 150;
  height: 150px;
}

.hidden {
  display: none !important;
}

.change-image {
  position: relative;
  width: 150px;
   .image {
    opacity: 1;
    display: block;
    width: 150px;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }

  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
}
