<% if action == "edit" %>
  <h2>
    <%= link_to "Hàng hóa", products_path %> > Chỉnh sửa
  </h2>
<% else %>
  <h2>
    <%= link_to "Kho hàng", warehouses_path %> > <%= "Thêm mới sản phẩm" %>
  </h2>
<% end %>
