<div class="row">
  <div class="col-sm-2 d-flex justify-content-center align-items-center">
    <%= link_to new_warehouse_product_warehouse_path(warehouse_id: @warehouse), class: "btn btn-success", title:"Add new product", data: {toggle: "tooltip", placement: "bottom"} do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <% products.each do |p| %>
    <div class="col-sm-2">
        <div class="item">
          <%= image_tag  p.product.get_thumb_image.image.url, class: "img-thumbnail" %>
        </div>
    </div>
  <% end %>
</div>
