<div class="row" id="lst_preview_product">
  <div class="col-sm-2 d-flex justify-content-center align-items-center">
    <button class="btn btn-success" id="add_new_pw">
      <i class="fa fa-plus-circle"></i>
    </button>
    <%= link_to new_product_path, class: "btn btn-success", title:"New and add product", data: {toggle: "tooltip", placement: "bottom"} do %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
  <% products.each do |p| %>
    <div class="col-sm-2">
        <div class="item">
          <%= link_to show_product_path(id: p.product.id), method: :GET, data: {toggle: "modal", target: "#modal-product"}, remote: true do %>
            <%= image_tag  p.product.get_thumb_image.image.url, class: "img-thumbnail" %>
          <% end %>
        </div>
    </div>
  <% end %>
</div>
