<div class="form-row">
  <div class="col-md-6 mb-3">
    <label>
      <h2>Total products: <%= warehouse.sum_count %></h2>
    </label>
  </div>
  <div class="col-md-6 mb-3">
    <label>
      <h2>Total money: <%= warehouse.sum_price_origin %></h2>
    </label>
  </div>
</div>
