<div class="row">
  <div class="col-md-6 mb-3">
    <label>
      <h2>Tổng lượng hàng tồn kho: <%= warehouse.total_count %></h2>
    </label>
  </div>
  <div class="col-md-6 mb-3">
    <label>
      <h2>Tổng tiền hàng tồn kho: <%= to_currency warehouse.total_money %></h2>
    </label>
  </div>
</div>
