<div class="form-row">
  <div class="col-md-6 mb-3">
    <label>
      <h2>Total products: 1000</h2>
    </label>
  </div>
  <div class="col-md-6 mb-3">
    <label>
      <h2>Total money: 1000VND</h2>
    </label>
  </div>
</div>
