<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <%= render "overview", warehouse: @warehouse %>
      <%= render "filter", style: "warehouse" %>
      <div class="list_pw hidden">
        <table class="table table-bordered table-striped" id="tbl_pw">
          <thead>
            <tr>
              <th>STT</th>
              <th>sản phẩm</th>
              <th>số lượng</th>
              <th>giá nhập</th>
              <th>giá bán</th>
              <th>ngày sx</th>
              <th>ngày hết hạn</th>
              <th>thao tác</th>
            </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
      </div>
    </div>
    <hr>
    <div class="hidden col-md-12" id="import-file">
      <%= render "import_form" %>
    </div>
    <hr>
    <div class="card-body">
      <%= render "list_product",  products: @products %>
    </div>
  </div>
</div>
