<%= render "url", action: "index" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <%= render "filter" %>
    </div>
    <hr>
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class=" text-primary">
            <tr>
              <th>
                STT
              </th>
              <th>
                Má hóa đơn bán
              </th>
              <th>
                Số lượng hàng hóa
              </th>
              <th>
                Giá bạn
              </th>
              <th>
                Mô tả
              </th>
              <th>
                Thời gian
              </th>
              <th>
                Hành động
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "grid_sells", sells: @sells %>
          </tbody>
        </table>
      </div>
    </div>
    <div>
      <%= paginate @sells %>
    </div>
  </div>
</div>
