<%= render "url", action: "show" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class=" text-primary">
            <tr>
              <th>
                STT
              </th>
              <th>
                Tên hàng hóa
              </th>
              <th>
                Số lượng
              </th>
              <th>
                Giá tiền
              </th>
              <th>
                Thành tiền
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "details" %>
          </tbody>
        </table>
      </div>
    </div>
    <% unless @list_items.blank? %>
      <div class="card-footer">
        <%= link_to sell_gtgt_path(id: @sell, format: :pdf), target: :_blank,
          class: "btn btn-success float-right btn-margin" do %>
          <i class="fa fa-file-excel-o"></i> Hóa đơn GTGT
        <% end %>
        <%= link_to sell_pdf_path(id: @sell, format: "pdf"), target: :_blank,
          class: "btn btn-danger float-right btn-margin" do %>
          <i class="fa fa-file-pdf-o"></i> Hóa đơn bán hàng
        <% end %>
      </div>
    <% end %>
  </div>
</div>
