<%= render "url", action: "show" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered">
          <thead class=" text-primary">
            <tr>
              <th>
                STT
              </th>
              <th>
                Name
              </th>
              <th>
                Count
              </th>
              <th>
                Price
              </th>
            </tr>
          </thead>
          <tbody>
            <%= render "details", details: @details %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <button class="btn btn-default float-right">
        <i class="fa fa-file-excel-o"></i> Excel
      </button>
      <%= link_to sell_pdf_path(id: @sell, format: "pdf"), target: :_blank, class: "btn btn-danger float-right btn-margin" do %>
        <i class="fa fa-file-pdf-o"></i> Xuất hóa đơn
      <% end %>
    </div>
  </div>
</div>
