<%= form_tag "", id: "form-submit", method: :get do %>
  <div class="form-row">
    <div class="col-md-4 mb-3">
      <%= select_tag :type, options_for_select(type_report, params[:type]),
        selected: 1, class: "form-control chosen", onchange: "this.form.submit();" %>
    </div>
  </div>
<% end %>
