<table class="table table-bordered">
  <thead class=" text-danger">
    <tr>
      <th>
        STT
      </th>
      <th>
        THỜI GIAN
      </th>
      <th>
        Mã HĐ
      </th>
      <th>
        SỐ LƯỢNG
      </th>
      <th>
        Doanh thu
      </th>
      <th>
        Lợi nhuận
      </th>
      <th>
        CHI TIẾT
      </th>
    </tr>
  </thead>
  <tbody>
    <%= render "grid", list: @list %>
  </tbody>
</table>
