<footer class="footer footer-black  footer-white ">
  <div class="container-fluid">
    <div class="row">
      <nav class="footer-nav">
        <ul>
          <li>
            <a href="https://www.creative-tim.com" target="_blank">Creative by Tim</a>
          </li>
          <li>
            <a href="https://github.com/tuanbacyen" target="_blank">Git</a>
          </li>
          <li>
            <a href="https://www.facebook.com/phamanhtuan0" target="_blank">Facebook</a>
          </li>
        </ul>
      </nav>
      <div class="credits ml-auto">
        <span class="copyright">
          ©
          <script>
            document.write(new Date().getFullYear())
          </script>, From Tuấn Phạm with <i class="fa fa-heart heart"></i>
        </span>
      </div>
    </div>
  </div>
</footer>
