<%= render "url", action: "new" %>
<hr>
<div class="col-md-12">
  <div class="card">
    <div class="card-header">
      <%= link_to new_product_path, class: "float-left btn btn-success" do %>
        New and Add product
      <% end %>
      <button class="btn btn-danger" id="add_new_pw">
        <i class="fa fa-plus-circle"></i>
      </button>
    </div>
    <div class="card-body">
    </div>
  </div>
</div>
